{% extends 'base.html' %}

{% block content %}

<form method='POST'>
    <div class="input-field col s6">
          <input id="last_name" type="text" name='last_name'>
          <label for="last_name">Last Name</label>
    </div>
    <button type='submit'>Submit</button>

</form>

{% endblock %}