
{% extends 'base.html' %}

{% block content %}

<div class='container'>

<form method='POST'>
    <div class="row">

        <div class="input-field col s12">
          <input name='task_name' placeholder="Placeholder" id="task_name" type="text">
          <label for="task_name">Task Name</label>

        </div>
    </div>

    <div class="row">

        <div class="input-field col s12">
          <input name='duration' placeholder="Placeholder" id="duration" type="number">
          <label for="duration">Duration</label>

        </div>
    </div>

    <div class="row">

        <div class="input-field col s12">
          <input name='location' placeholder="Placeholder" id="location" type="text">
          <label for="location">Location</label>

        </div>
    </div>

    <button type='submit'>Search</button>

</form>

{% for thing in TODO %}
    <div class='row'>
        {{ thing.task_name }} {{ thing.duration }} {{ thing.location }}

    </div>
    {% endfor %}


<div class='row divider'></div>

</div>

{% endblock %}
